.custom-order{
    background: url(../../images/custom/bg.jpg) no-repeat 50% 50% / cover;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('../../images/custom/bg.jpg');
}
.custom-order .banner{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text h1{
    font-size: 40px;
    font-weight: var(--bold-weight);
}
.main-text h1:nth-last-of-type(1){
    margin-bottom: 2rem;
}
.main-text{
    color: #fff;
    margin: 10rem 0;
    text-align: center;
}
.custom-box{
    /* border: 5px solid var(--main-color); */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.custom-container{
    width: 100%;
    padding: 4rem 0;
    border-radius: 80px 80px 0 0;

    /* 1. 반투명한 배경색 (흰색 10~20% 추천) */
    background: rgba(255, 255, 255, 0.1); 
    
    /* 2. 배경 블러 처리 (핵심!) */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* 사파리 호환용 */
    
    /* 3. 은은한 테두리와 그림자 (입체감) */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    
}
.custom-accout{
}
.custom-accout figure{
    width: 710px;
    aspect-ratio: 710/581;
    border-radius: 34px;
    overflow: hidden;
}
.custom-accout>p{
    margin: 2rem 0;
    font-size: var( --detail);
    text-align: center;
}
.cart-box{
    background-color: #f4f7ff7a;
    box-shadow: inset 0 0 6px 5px rgba(141, 141, 141, 0.3);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 56px;   
    box-sizing: border-box;
}
.cart-box h1{
    font-size: var(--heading-1);
    font-weight: var(--bold-weight);
}
.order-button{
    display: flex;
    gap: .5rem;
}
.order-button>span>a{
    padding: 11px 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: blue;
    color: #fff;
}
.order-button>span>h4{
    font-size: var(--heading-4);
    font-weight: var(--bold-weight);
}
.order-button img{
    width: 21.6px;
    aspect-ratio: 1/1;
}
.custom-panel{
    border-radius: 30px;
    /* background-color: #fff; */
    width: 587px;
    height: 754px;
    padding: 2rem 4rem;
    box-sizing: border-box;

    /* 1. 반투명한 배경색 (흰색 10~20% 추천) */
    background:#ffffff88; 
    
    /* 2. 배경 블러 처리 (핵심!) */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* 사파리 호환용 */
    
    /* 3. 은은한 테두리와 그림자 (입체감) */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 15px 5px rgba(141, 141, 141, 0.3);
}
.custom-step{
    display: flex;
    flex-direction: column;
}
.custom-step .step{
    font-size:var(--heading-2);
    font-weight: var(--bold-weight);
    padding: 1rem 0;
    border-bottom: 1px solid #999999;
}
.step{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.step img{
    width: 27px;
    height: 27px;
}
.active-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: var(--margin-main-text) 0;
}
.items {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.items>figure{
    margin-bottom: 1rem;
    width:5.5rem;
    aspect-ratio: 1/1;
}
.items>p{
    font-size: var(--body-2);
    border-radius: 15px;
}
.items:hover>p{
    background-color: #575757;
    color: #fff;
    width: 5.5rem;
}
.custom-order.none-mo .custom-menu{
    max-height: 73px;
    overflow: hidden;
    transition: max-height 0.4s ease;
}
.custom-order.none-mo .custom-menu.active{
    max-height: 500px;
}
.active-size{
    margin-top: var(--margin-main-text);
}
.active-size .option{
    margin-bottom: 1rem;
}
.items, .option{
    cursor: pointer;
}
.order-button.tab{
    display: none;
}
.custom-order.mo{
    display: none;
}


@media (max-width:1440px){
    .custom-panel {
        border-radius: 34px;
        width: 454px;
        height: 679px;
    }
    .main-text h1 {
        font-size: 2.37rem;
    }
    .custom-container{
        padding: 4rem 3.37rem 4rem 5.75rem;
        box-sizing: border-box;
    }
    .custom-accout {
        width: 38.5%;
    }
    .custom-panel {
        width: 51.7%;
        aspect-ratio: 454/679;
        padding: 2rem 2.75rem;
    }
    .custom-accout figure {
        width: auto;
        aspect-ratio: 338/443;
    }
    .cart-box {
        padding: 1rem 2.68rem;
        justify-content: center;
    }
    .order-button.pc{
        display: none;
    }
    .order-button.tab{
        display: block;
        display: flex;
        justify-content: center;
        gap: .5rem;
        margin-top: 2rem;
    }
    .order-button>span>a {
        padding: 0.56rem 0.92rem;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        background-color: blue;
        color: #fff;
    }
    .step img {
        width: 24px;
        height: 24px;
    }
    .active-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: var(--margin-main-text) 0;
    }
    .items {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mg{
        margin-bottom: .5rem;
    }
}

@media (max-width:950px){
    .custom-order .none{
        display: none;
    }
    .custom-order.none-mo{
        display: none;
    }
    .custom-order.mo{
        display: block;
    }
    .main-text>p{
        font-size: var(--heading-4);
        font-weight: var(--bold-weight);
    }
    .custom-order .banner {
        height: 762px;
    }
    .custom-box {
        flex-direction: column;
    }
    .custom-container {
        padding: 4rem 2rem 0;
    }
    .custom-accout {
        width: 100%;
    }
    .cart-box h1 {
        font-size: var(--heading-4);
        text-align: center;
    }
    .order-option>p{
        font-size: 12px;
    }
    .cart-box {
        padding: 11px 37px;
        justify-content: center;
        gap: 25px;
        margin-bottom: 2rem;
    }
    .order-button {
        flex-direction: column;
    }
    h4 {
        font-size: 10px;
    }
    .order-button img {
        width: 10px;
    }
    .custom-panel {
        width: 100%;
        /* aspect-ratio: 454/679; */
        padding: 0;
        height: 380px;
    }
    .custom-accout figure {
        width: auto;
        aspect-ratio: 338/443;
        margin-bottom: 2rem;
    }
    .custom-step .step {
        padding: 2rem;
        border-bottom: 1px solid #999999;
    }
    .active-grid{
        padding: 1rem;
    }
    /* 1. 기본적으로 모든 단계 숨김 */
    .custom-menu {
        display: none;
        width: 100%;
    }

    /* 2. 'on' 클래스가 붙은 단계만 노출 */
    .custom-menu.on {
        display: block;
    }
    
}

@media (max-width:490px){
    .cart-box h1 {
        font-size: var(--body-1);
        text-align: center;
    }
    .order-option>p{
        font-size: 9px;
    }
    .cart-box {
        justify-content: space-between;
        gap: 0px;
    }

}
@media (max-width:310px){
    .items>figure {
        width: 4rem;
    }
    .items:hover>p {
        width: 4rem;
    }
}