.swiper{
}
.station{
    width: 100%;
    /* height: 900px; */
}
.swiper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pick-grid{
    margin-top: 18rem;
    display: grid;
    grid-template-columns: 500px repeat(3,1fr);
    grid-template-rows: 295px 276px;
}



