/* 마이페이지 프로필 스타일 */
.profile{
    background-color: #EDF2F2;
    padding: 115px 240px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 5rem;
}
.top img{
    width: 30PX;
    aspect-ratio: 1/1;
}
.middle .smile img{
    width: 200px;
    aspect-ratio: 1/1;

}
.profile .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile .middle{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.middle .bold{
    font-size: 45px;
}
.middle .desc1 .bold{
    margin-bottom:var(--margin-main-text);
}
.middle .btn{
    display: flex;
    gap: var(--gap-pc);
}
.middle .btn>li>a{
    font-weight: var(--bold-weight);
    font-size: var(--body-1);
    padding: 4px 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: #fff;
}

/* 최근 본 상품 스타일 */
.mypage-wrap .view{
    margin-bottom: var(--margin-top-pc);
}
.view h1{
    margin-bottom: var(--margin-main-text);
    text-align: center;
}
.view-box{
    display: flex;
    justify-content: space-between;
}
.view .swiper-slide img{
    display: block;
    width: 280px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

/* 결제상품 배송 현황 스타일 */
.mypage-wrap .delivery{
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    padding: 46px 102px;
    box-sizing: border-box;
    margin-bottom: var(--margin-top-pc);
}
.delivery-product{
    display: flex;
    align-items: center;
    gap: var(--margin-main-text);
    margin-bottom: var(--margin-main-text);
}
.mypage-back{
    display: none;
    justify-content: flex-end;
    cursor: pointer;
}
.mypage-back img{
    width: 49px;
}
.mypage-wrap .title{
    text-align: center;
    margin-bottom: var(--margin-main-text);
}
.delivery-product figure{
    width: 280px;
    aspect-ratio: 1/1;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
}
.delivery-option{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.delivery-option dl{
    display: flex;
    gap: var(--margin-main-text);
}
.delivery-option .bold{
    font-size: var(--heading-1);
    margin-bottom: 1rem;
}
.delivert-bar{
    text-align: center;
}
.delivert-bar>ul{
    display: flex;
    justify-content: space-between;
    font-size: var(--heading-3);
    margin-bottom: 2rem;
}
.delivert-bar>.status-bar{
    border: 1px solid #D3D3D3;
    background-color: #D9D9D9;
    height: .5rem;
    border-radius: 25px;
    position: relative;
    margin-bottom: var(--margin-main-text);
}
.status-bar .bar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    border-radius: 25px;
    background-color: #B3D179;
    width: 939px;
    height: 100%;
}
.status-bar .ball{
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 900;
    padding: 0 25px;
    box-sizing: border-box;
    width: 100%;
}
.ball{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ball li {
    width: 1rem;
    height: 1rem;
    border-radius: 25px;
    background-color: #053005;
}
.status-button{
    display: flex;
    justify-content: center;
    width: 100%;
}
.status-button>a{
    padding: 7px 71px;
    border-radius: 25px;
    background-color: #E9EFEA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--heading-1);
}

/* 마이페이지 공지사항 스타일*/
.customer-service{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: var(--margin-top-pc);
}
.customer-service h1{
    padding: 1rem 0;
    font-size: var(--body-1);
}
.service-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 63px;
    overflow: hidden;
    transition: all .5s ease;
}
.service-box.down{
    max-height: 1500px;
}
.service-box.down .text-box img{
    transform: rotate(180deg);
}
.customer-service .text-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
.text-box img{
    width: 1.2rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: all .4s ease;
}
.status-desc{
    display: none;
}
.status-desc2{
    display: none;
}
.status-desc3{
    display: none;
}
.service-box>p{
    padding: 1rem 10px;
    background-color: #dddd;
}

/* 배송현황 눌렀을 때 바뀌는 스타일 */
.order-list.active{
    display: none;
}
.mypage-wrap .view.active{
    display: none;
}
.mypage-wrap .delivery.active{
    border: 0;
}
.mypage-back.active{
    display: flex;
}
.status-bar .bar.active{
    width: 100%;
}
.status-button.active{
   display: none;
}

.status-desc.active{
    display: flex;
    width: 100%;
    border: 1px solid #D3D3D3;
    height: 61px;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 3rem;
}
.status-desc.active ul{
    display: flex;
    width: 600px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.status-des .status-active-bar li img{
    width: 30px ;
    aspect-ratio: 1/1;
}
.customer-service.active{
    display: none;
}
.status-desc2{
    margin-bottom: var(--margin-top-pc);
}
.status-desc2.active{
    display: block;
    padding:15px 0;
    box-sizing: border-box;
}
.status-desc2 ul{
    padding: 0 4rem;
}
.status-desc2 .one{
    height: 59px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: var(--heading-3);
    font-weight: var(--bold-weight);
    border-bottom: 1px solid #000;
}
.status-desc2 .two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    border-bottom: 1px solid #D3D3D3;
}
.status-desc2 .two li:nth-of-type(1){
    display: flex;
    gap: var(--gap-pc);
}
.status-desc3.active{
    display: block;
}
.status-desc3 h1{
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: var(--margin-main-text);
    border-bottom: 1px solid #000;
}
.dl-flex{
    display: flex;
    flex-direction: column;
    gap: var(--margin-main-text);
}
.status-desc3 .dl-flex dl{
    display: flex;
    gap: var(--margin-top-pc);
    font-weight: var(--bold-weight);
}
.dl-flex dl dt{
    font-size: var(--heading-3);
    color: #0000007a;
    width: 86px;
    text-align: start;
}
.dl-flex dl dd{
    font-size: var(--heading-2);
}
.profile {
    margin-bottom: 10rem;
}

@media (max-width:1440px){
    .profile {
        padding: 10rem 4rem;
    }
    .middle .smile img {
        width: 150px;
        aspect-ratio: 1/1;
    }
    .middle .bold {
        font-size: 30px;
    }
    .middle .btn>li>a {
        padding: 3px 1rem;
    }
    .profile {
        margin-bottom: 4rem;
    }
    .mypage-wrap>.common-frame{
        margin: 0 3rem;
    }
    .delivery-product figure {
        width: 200px;
    }
    .status-bar .bar {
        width: 79%;
    }
    .mypage-back img {
        width: 25px;
    }
    .status-desc .status-active-bar li>img{
        width: 24px;
    }
}

@media (max-width:878px){
     .mypage-wrap .delivery {
        padding: 46px 3rem;
    }
}

@media (max-width:768px){
    .status-desc .status-active-bar li>img{
        width: 20px;
    }
    .profile {
        padding: 2rem;
    }
    .profile .top>h1{
        font-size: var(--heading-4);
    }
    .top img {
        width: 20PX;
        aspect-ratio: 1/1;
    }
    .profile {
        gap: 2rem;
    }
    .middle .bold {
        font-size: 25px;
    }
    .profile .middle {
        gap: .5rem;
    }
    .profile {
        margin-bottom: 3rem;
    }
    .view>h1{
        font-size: var(--heading-4);
    }
    .view .swiper-slide img {
        border-radius: 5px;
    }
    .mypage-wrap .view {
        margin-bottom: 5rem;
    }
    .mypage-wrap .title {
        font-size: var(--heading-4);
    }
    .mypage-wrap .title {
        margin-bottom: 3rem;
    }
    .delivery-option .bold {
        font-size: var(--heading-4);
        margin-bottom: 1rem;
    }
    .mypage-wrap .delivery {
        padding: 0;
    }
    .delivery-option dl {
        display: flex;
        gap: 1rem;
    }
    .delivery-product figure {
        width: 100px;
    }
    .delivery-product {
        gap: 1rem;
    }
    .delivery-option {
        gap: 2rem;
    }
    .delivery-option .bold {
        margin-bottom: 0;
    }
    .delivert-bar>ul {
        font-size: var(--heading-4);
    }
    .status-button>a {
        font-size: var(--heading-4);
    }
    .mypage-wrap>.common-frame {
        margin: 0 2rem;
    }
    .service-box {
        max-height: 50px;
    }
    .mypage-wrap .delivery {
        margin-bottom: 4rem;
    }
    .mypage-wrap .delivery {
        border: none;
    }
    .status-desc.active {
        padding: 0 2rem;
    }
    .status-desc.active {
        width: auto;
        height: 35px;
        margin-bottom: 3rem;
    }
    .status-desc2 ul {
        padding: 0 ;
        padding-right: 2rem;
    }
    .status-desc.active ul {
        font-size: var(--body-2);
    }
    .status-desc2 .one {
        height: auto;
        padding: 0;
        font-size: var(--body-1);
    }
    .status-desc2 .two {
        font-size: var(--body-2);
        font-weight: var(--light-weight);
        height: auto;
        margin-top: 1rem;
    }

    .status-desc2 .one {
        padding: 0 2.6rem;
    }
    .status-desc2 {
        margin-bottom: 5rem;
    }
    .dl-flex dl dd {
        font-size: var(--heading-4);
    }
    .dl-flex dl dt {
        font-size: 1rem;
        color: #0000007a;
        width: 86px;
        text-align: start;
    }
    .status-desc3 h1 {
        font-size: var(--heading-4);
    }
    .middle .smile img {
        width: 80px;
        aspect-ratio: 1/1;
    }
}

@media (max-width:396px){
    .middle .bold {
        font-size: 20px;
    }
    .middle .desc1 .bold {
        margin-bottom: 1rem;
    }
    .status-desc2 .one {
        height: auto;
        padding: 0;
        font-size: var(--body-2);
    }
    .middle .btn {
        display: flex;
        gap: .5rem;
    }
    .mypage-back img {
        width: 18px;
    }
    .delivery-option .bold {
        font-size: var(--body-2);
        margin-bottom: .5rem;
    }
    .mypage-wrap>.common-frame {
        margin: 0 1rem;
    }
    .delivery-option {
        gap: 1rem;
    }
    .status-desc.active ul {
        font-size: var(--detail);
    }
    .dl-flex dl dd {
        font-size: var(--body-1);
    }
    .middle .btn>li>a {
        padding: .1rem .4rem;
    }
    .status-desc2 ul {
        padding: 0;
    }
    .status-desc.active {
        padding: 0 .5rem;
    }
    .delivery-product figure {
        width: 90px;
    }
    .status-desc2 .two li:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .status-desc2 .two {
        padding: 0 .5rem;
    }
    .status-desc2 .one {
        height: auto;
        padding: 0;
        font-size: var(--body-2);
        padding: 0 1rem;
    }
    .status-desc2 {
        margin-bottom: 3rem;
    }
    .mypage-back img {
        width: 16px;
    }
    .dl-flex dl dd {
        font-size: var(--body-2);
        white-space: nowrap;
    }
    
}

@media (max-width:332px){
    .middle .smile img {
        width: 60px;
    }
    .middle .desc1 .bold {
        margin-bottom: .5rem;
    }
    .middle .btn>li>a {
        font-size: var(--detail);
    }
    .delivery-option dl {
        gap: .5rem;
    }
    .delivery-product {
        gap: .5rem;
    }
    .status-desc2 .two li:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .status-desc3 .dl-flex dl {
        gap: inherit;
    }
    
}